@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Courier+Prime:wght@400;700&display=swap");

.fullscreen-video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.fullscreen-video:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  /* background: linear-gradient(
    to right,
    rgba(65, 0, 255, 0.4),
    rgba(255, 0, 232, 0.3)
  ); */
}
/* NAVBAR */
.glassmorphism-navbar {
  /* background-color: rgba(0, 0, 0, 0.3); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* height: 4rem; */
}
/* .border-bottom-color {
  border-bottom: 1px solid white !important;
} */
.glassmorphism-navbar .navbar-nav .nav-link {
  font-family: "Audiowide", sans-serif;
  color: white;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 1rem;
}
.glassmorphism-navbar .navbar-nav .nav-link:hover {
  color: #fdc112;
  background-color: transparent;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 1rem;
}
/* ICONS */

.icons-container i {
  padding: 0.5rem 0.25rem;
  margin: 0;
  color: white;
  font-size: 1rem;
}
.icons-container i:hover {
  font-size: 1.5rem;
}
/* TOGGLER */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253,193,18)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(253, 193, 18);
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
/* CONTENT */
.glassmorphism-content {
  /* background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 0 0 10px red; */
  height: 18rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  overflow: hidden;
}
.glassmorphism-content h1 {
  font-family: "Audiowide", sans-serif;
  color: #fdc112;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* LOGIN FORM */
.glassmorphism-login {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px #000;
  height: 23rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  overflow: hidden;
}
.glassmorphism-login label {
  color: #fdc112;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.glassmorphism-login input {
  background-color: transparent;
  padding: 0.75rem;
}
.glassmorphism-login input::placeholder {
  background-color: transparent;
  color: white;
  opacity: 0.5;
}
.glassmorphism-login input:focus {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #fdc112;
}
.btn-style {
  background-color: transparent;
  padding: 0.75rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid white;
}
.btn-style:hover {
  background-color: transparent;
  color: #fdc112;
  border: 1px solid #fdc112;
  font-size: 1.25rem;
  font-weight: bold;
}
